ul {
  list-style-type: none;
  margin: 0;
  background: #3399ff;
  padding: 20p
}
ul li {
  background: #cce5ff;
  margin: 5px;
  font-size: 2rem;
}

.App {
  text-align: center ;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.input {
  margin: 10%;
  margin-top: 50px;
  width: 80%;
  font-size: 2em;
  padding: 1rem 1rem;
  border-radius: 40px;
  border: 2px solid cadetblue;
  border-color: cadetblue;
  box-shadow: 2px 3px 4px 2px #a9b3b3;
}

